<!DOCTYPE html>
<html lang="en">
<head>
    <title>WorkoutTracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href = "styles.css">
</head>

<body>
    <%- include('navbar.ejs') -%>

    <div class="main-div">
        <% if (user) { %>
            <h2> Welcome Back <%= user.fullname %>!</h2>
        <% } %>
        <div class="home-divider">
            <button id="startWorkout" class="styledBtn">Start Workout</button>
        </div>
        <div class="home-divider">
            <button id="goals-btn" class="styledBtn">Set Goals</button>
            <div style="margin-top:100px">
            </div>
        </div>

        <div id="workout-modal" class="modal">
            <div class="modal-content">
                <span class="close" id="wspan">&times;</span>
                <form action="/finishWorkout" method="POST">
                    <h3>EXERCISE TRACKER</h3>

                    <label class="modal-label">Workout Name:</label>
                    <input type="text" name="workoutName">
                    <div id="stopwatch" class="stopwatch">Time: </div>
                    <input type="text" id="duration" class="hiddenInput" name="duration">

                    <div id="exercises">
                        <h5>Exercises</h5>
                    </div>
                    <input type="text" placeholder="Add new exercise" id="addExercise" class="modal-input">
                    <button type="button" id="addExerciseBtn" class="action-btn">+</button>


                    <button id="finish" type="submit" class="action-btn">FINISH</button>
                    <button id="reset" type="button" class="action-btn">RESET</button>
                </form>
            </div>
        </div>

        <div id="goals-modal" class="modal">
            <div class="modal-content">
                <span class="close" id="gspan">&times;</span>
                <form action="/updateGoals" method="POST">
                    <h3>UPDATE GOALS</h3>
                    <p style="color:black"> You can view and set your goals here. Set your starting, current, and final goal. View your progress in analytics!</p>
                    <div id="goals-gen">
                        <h3>General</h3>

                        <% if (genGoals.length == 0) { %>
                        
                        
                            <div id="genGoal-weight">
                                    <button type="button" class="goal-collapsible" name="Weight">Weight</button>
                                    <div class="goal-collapsiblecontent">
                                        <input type="text" placeholder="Start Weight" name="startinWeight">
                                        <input type="text" placeholder="Current Weight" name="currentWeight">
                                        <input type="text" placeholder="Desired Weight" name="desiredWeight">
                                        <input type="hidden" name="hidden-Weight" value="General">
                                    </div>
                            </div>
                        <% } else { %>
                            <% genGoals.forEach(function(goal) { %>
                                    <div id="<%-goal.name%>div">
                                            <button type="button" class="goal-collapsible" name="<%-goal.name%>"><%-goal.name%></button>
                                            <div class="goal-collapsiblecontent">
                                                <input type="text" value="<%-goal.start%>" name="startin<%-goal.name%>">
                                                <input type="text" value="<%-goal.current%>" name="current<%-goal.name%>">
                                                <input type="text" value="<%-goal.goal%>" name="desired<%-goal.name%>">
                                                <input type="hidden" name="hidden-<%-goal.name%>" value="General">
                                            </div>
                                    </div>
                            <% }) %>
                        <% } %>
                    </div>
                    <div style="margin-top:5px"></div>
                    <input type="text" placeholder="Add new general goal" id="addGGInput" class="modal-input">
                    <button type="button" id="addGenGoalBtn" class="action-btn">+</button>

                    <div style="margin-top:20px"></div>

                    <div id="goals-lift">
                        <h3>Lifts</h3>
                        <% if (liftGoals.length == 0) { %>
                        
                            <div id="liftGoal-BP">
                                
                                <button type="button" class="goal-collapsible" name="Bench Press">Bench Press</button>
                                <div class="goal-collapsiblecontent">
                                    <input type="text" placeholder="Start Bench Press" name="startinBench Press">
                                    <input type="text" placeholder="Current Bench Press" name="currentBench Press">
                                    <input type="text" placeholder="Desired Bench Press" name="desiredBench Press">
                                    <input type="hidden" name="hidden-Bench Press" value="Lift">
                                </div>

                            </div>
                        <% } else {%>
                            <% liftGoals.forEach(function(goal) { %>
                                    <div id="<%-goal.name%>div">
                                    
                                        <button type="button" class="goal-collapsible" name="<%-goal.name%>"><%-goal.name%></button>
                                        <div class="goal-collapsiblecontent">
                                            <input type="text" value="<%-goal.start%>" name="startin<%-goal.name%>">
                                            <input type="text" value="<%-goal.current%>" name="current<%-goal.name%>">
                                            <input type="text" value="<%-goal.goal%>" name="desired<%-goal.name%>">
                                            <input type="hidden" name="hidden-<%-goal.name%>" value="Lift">
                                        </div>
        
                                    </div>
                            <% }) %>
                        <% } %>
                    </div>
                    <div style="margin-top:5px"></div>
                    <input type="text" placeholder="Add new lift goal" id="addLiftGoalInput" class="modal-input">
                    <button type="button" id="addLiftGoalBtn" class="action-btn">+</button>
                    <div style="margin-top:20px"></div>
                    <p style="color:black">Finished updating your goals?</p>
                    <button id="apply" type="submit" class="action-btn">Save</button>
                </form>
            </div>
        </div>

    </div>

    <script src="main.js"> </script>
    <script>

        var coll = document.getElementsByClassName("goal-collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
        
</body>
</html>

